In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('S_train.csv',index_col = ['datetime'], parse_dates = True)
df.head(2)

,week_X-2,week_X-3,week_X-4,MA_X-4,dayOfWeek,weekend,holiday,Holiday_ID,hourOfDay,T2M_toc,DEMAND
datetime,,,,,,,,,,,
2015-01-31 01:00:00,962.2865,906.9580,970.3450,938.004850,1,1,0,0,1,25.308496,954.2018
2015-01-31 02:00:00,933.3221,863.5135,912.1755,900.284075,1,1,0,0,2,25.141443,913.8660

In [7]:
print('Data Points= ',len(df))

Data Points=  36720

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 36720 entries, 2015-01-31 01:00:00 to 2019-04-10 00:00:00
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   week_X-2    36720 non-null  float64
 1   week_X-3    36720 non-null  float64
 2   week_X-4    36720 non-null  float64
 3   MA_X-4      36720 non-null  float64
 4   dayOfWeek   36720 non-null  int64
 5   weekend     36720 non-null  int64
 6   holiday     36720 non-null  int64
 7   Holiday_ID  36720 non-null  int64
 8   hourOfDay   36720 non-null  int64
 9   T2M_toc     36720 non-null  float64
 10  DEMAND      36720 non-null  float64
dtypes: float64(6), int64(5)
memory usage: 3.4 MB

In [13]:
df = df.sort_index(ascending = True)
df.head(1)

,week_X-2,week_X-3,week_X-4,MA_X-4,dayOfWeek,weekend,holiday,Holiday_ID,hourOfDay,T2M_toc,DEMAND
datetime,,,,,,,,,,,
2015-01-31 01:00:00,962.2865,906.958,970.345,938.00485,1,1,0,0,1,25.308496,954.2018

In [15]:
df.tail(2)

,week_X-2,week_X-3,week_X-4,MA_X-4,dayOfWeek,weekend,holiday,Holiday_ID,hourOfDay,T2M_toc,DEMAND
datetime,,,,,,,,,,,
2019-04-09 23:00:00,1200.3537,1209.2950,1165.0237,1199.699525,4,0,0,0,23,27.830194,1232.4521
2019-04-10 00:00:00,1141.5161,1149.9883,1099.2100,1130.238133,5,0,0,0,0,27.522791,1155.5925

In [16]:
missing_Timestamp = pd.date_range('2015-1-31','2019-4-10',freq = 'H').difference(df.index)
print('\nNumber of Missing Timestamp= ',len(missing_Timestamp),'\n')
print(missing_Timestamp.to_list())
#da chi kom yi missing okhowo nu da mong missing data na consider kao zaka chi da zamong da start data na makhki dy

Number of Missing Timestamp=  1

[Timestamp('2015-01-31 00:00:00')]

In [19]:
df.isnull().sum().sum()

0

# every thing is clear no missing data