In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('Outlier_Identified.csv', parse_dates = ['datetime'], index_col = 'datetime')

In [7]:
df.isnull().sum()

week_X-2      0
week_X-3      0
week_X-4      0
MA_X-4        0
dayOfWeek     0
weekend       0
holiday       0
Holiday_ID    0
hourOfDay     0
T2M_toc       0
DEMAND        6
dtype: int64

In [9]:
df['DEMAND'].interpolate(method = 'time', inplace = True)

In [10]:
# will fill the remaing by interpolation
df.isnull().sum()

week_X-2      0
week_X-3      0
week_X-4      0
MA_X-4        0
dayOfWeek     0
weekend       0
holiday       0
Holiday_ID    0
hourOfDay     0
T2M_toc       0
DEMAND        0
dtype: int64

In [11]:
df.reset_index(inplace = True)

In [13]:
df.head()

,datetime,week_X-2,week_X-3,week_X-4,MA_X-4,dayOfWeek,weekend,holiday,Holiday_ID,hourOfDay,T2M_toc,DEMAND
0,2015-01-31 01:00:00,962.2865,906.9580,970.3450,938.004850,1,1,0,0,1,25.308496,954.2018
1,2015-01-31 02:00:00,933.3221,863.5135,912.1755,900.284075,1,1,0,0,2,25.141443,913.8660
2,2015-01-31 03:00:00,903.9817,848.4447,900.2688,881.704325,1,1,0,0,3,25.006738,903.3637
3,2015-01-31 04:00:00,900.9995,839.8821,889.9538,876.458825,1,1,0,0,4,24.899713,889.0806
4,2015-01-31 05:00:00,904.3481,847.1073,893.6865,879.190775,1,1,0,0,5,24.821558,910.1472

In [15]:
df.to_csv('Values_handaled.csv',index = False)