In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Train week 24.csv',index_col = ['datetime'], parse_dates = True)
df.head(2)

,week_X-2,week_X-3,week_X-4,MA_X-4,dayOfWeek,weekend,holiday,Holiday_ID,hourOfDay,T2M_toc,DEMAND
datetime,,,,,,,,,,,
2015-01-31 01:00:00,962.2865,906.9580,970.3450,938.004850,1,1,0,0,1,25.308496,954.2018
2015-01-31 02:00:00,933.3221,863.5135,912.1755,900.284075,1,1,0,0,2,25.141443,913.8660

In [4]:
print('Data points= ', len(df))

Data points=  46968

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 46968 entries, 2015-01-31 01:00:00 to 2020-06-10 00:00:00
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   week_X-2    46968 non-null  float64
 1   week_X-3    46968 non-null  float64
 2   week_X-4    46968 non-null  float64
 3   MA_X-4      46968 non-null  float64
 4   dayOfWeek   46968 non-null  int64
 5   weekend     46968 non-null  int64
 6   holiday     46968 non-null  int64
 7   Holiday_ID  46968 non-null  int64
 8   hourOfDay   46968 non-null  int64
 9   T2M_toc     46968 non-null  float64
 10  DEMAND      46968 non-null  float64
dtypes: float64(6), int64(5)
memory usage: 4.3 MB

In [6]:
df = df.sort_index(ascending = True)
df.head(1)

,week_X-2,week_X-3,week_X-4,MA_X-4,dayOfWeek,weekend,holiday,Holiday_ID,hourOfDay,T2M_toc,DEMAND
datetime,,,,,,,,,,,
2015-01-31 01:00:00,962.2865,906.958,970.345,938.00485,1,1,0,0,1,25.308496,954.2018

In [7]:
df.tail(2)

,week_X-2,week_X-3,week_X-4,MA_X-4,dayOfWeek,weekend,holiday,Holiday_ID,hourOfDay,T2M_toc,DEMAND
datetime,,,,,,,,,,,
2020-06-09 23:00:00,1141.4458,997.7907,1174.9543,1086.63155,4,0,0,0,23,27.118677,1053.3043
2020-06-10 00:00:00,1102.6683,980.3357,1093.6111,1058.87170,5,0,0,0,0,27.016534,1033.8977

In [11]:
missing_Timestamp = pd.date_range('2015-1-31','2020-6-10',freq = 'H').difference(df.index)
print('\nNumber of Missing Timestamp= ',len(missing_Timestamp),'\n')
print(missing_Timestamp.to_list())
#da chi kom yi missing okhowo nu da mong missing data na consider kao zaka chi da zamong da start data na makhki dy

Number of Missing Timestamp=  1

[Timestamp('2015-01-31 00:00:00')]

In [14]:
df.isnull().sum().sum()

0

# everything is clear no missing value