In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
df = pd.read_csv('Values_handled for week 24.csv', parse_dates = ['datetime'], index_col = ['datetime'])

In [9]:
df.head(2)

,week_X-2,week_X-3,week_X-4,MA_X-4,dayOfWeek,weekend,holiday,Holiday_ID,hourOfDay,T2M_toc,DEMAND
datetime,,,,,,,,,,,
2015-01-31 01:00:00,962.2865,906.9580,970.3450,938.004850,1,1,0,0,1,25.308496,954.2018
2015-01-31 02:00:00,933.3221,863.5135,912.1755,900.284075,1,1,0,0,2,25.141443,913.8660

In [10]:
df.drop(['Holiday_ID'], axis = 1, inplace = True)

In [11]:
df.head(2)

,week_X-2,week_X-3,week_X-4,MA_X-4,dayOfWeek,weekend,holiday,hourOfDay,T2M_toc,DEMAND
datetime,,,,,,,,,,
2015-01-31 01:00:00,962.2865,906.9580,970.3450,938.004850,1,1,0,1,25.308496,954.2018
2015-01-31 02:00:00,933.3221,863.5135,912.1755,900.284075,1,1,0,2,25.141443,913.8660

In [12]:
df.to_csv('dataset_for_normalization_OneHOtencoding for week 24.csv')